<!doctype html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="stylesheet" type="text/css"
        href="{% static 'bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.min.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>{% block title %} Non title {% endblock title %}</title>
    {% block head %} {% endblock head %}

    <style>
        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        body {
            padding-top: 70px;
        }
    </style>

</head>

<body>
    <header>
        <div class="p-0 text-bg-dark border-bottom fixed-top">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <h2 class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        Body Web Service
                    </h2>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 small"
                        style="text-align: center;">
                        <li>
                            <a href="/" class="nav-link text-white">
                                <i class="bi bi-house-door d-block" style="font-size: 24px;"></i>
                                ホーム
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi bi-speedometer2 d-block" style="font-size: 24px;"></i>
                                BoBI
                            </a>
                        </li>
                        <li>
                            <a href="/overwork" class="nav-link text-white">
                                <i class="bi bi-table d-block" style="font-size: 24px;"></i>
                                残業申請
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi bi-grid d-block" style="font-size: 24px;"></i>
                                サービス
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi bi-file d-block" style="font-size: 24px;"></i>
                                マニュアル
                            </a>
                        </li>
                        <li>
                            <a href="/accounts" class="nav-link text-white">
                                <i class="bi bi-person-circle d-block" style="font-size: 24px;"></i>
                                マイページ
                            </a>
                        </li>
                        <li>
                            <a href="/admin" class="nav-link text-white">
                                <i class="bi bi-calendar d-block" style="font-size: 24px;"></i>
                                管理
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="p-3"></div>

    <div class="container">
        {% block content %}
        Base
        {% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <script type="text/javascript"
        src="{% static 'bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.ja.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>

    {% block foot %} {% endblock foot %}

    <div class="p-3"></div>
    <div class="p-0 text-bg-dark fixed-bottom">
        <p class="m-0" style="text-align:center">Powered by SEPG</p>
    </div>
</body>

</html>