{% extends "base.html" %}

{% block title %}User profile{% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
        <h2>{{ view.社員番号.value }} {% if view.氏名.value %} - {{ view.氏名.value }} - {% endif %}</h2>
    </div>
    {% if yourself == True %}
    <div class="col">
        <form class="" method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <div class="text-end">
                <a href="{% url 'accounts:password_change' %}" class="btn btn-warning">Change Password</a>
                <button type="submit" class="btn btn-secondary">Sign out</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>

<h3 class="">アカウント情報</h3>

<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">項目</th>
            <th scope="col">値</th>
        </tr>
    </thead>
    <tbody>
        {% for key,data in view.items %}
        {% if data.isEnabled == True %}
        <tr>
            <th scope="row" style="width:33%;">{{ key }}</th>
            <td>
                {% if data.value == True %}
                <div style="color:green">
                    <i class="bi bi-check-circle-fill mx-auto mb-1" style="font-size: 12px;" fill="currentColor"></i>
                    Yes
                </div>
                {% elif data.value == False %}
                <div style="color:red">
                    <i class="bi bi-x-circle-fill mx-auto mb-1" style="font-size: 12px;" fill="currentColor"></i>
                    No
                </div>
                {% else %}
                {{ data.value }}
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock content %}